*{
    margin:0;
    padding:0;
}

.container{
    width: 1140px;
   margin: 80px auto;
    display: flex;
    justify-content: center;
    
}

.social-icon{
    padding: 50px 100px;
    text-align: center;
     /* box-shadow: rgba(143, 143, 142, 0.3) 10px 10px 20px 4px; */
   
}

.social-icon ul li{
    list-style-type: none;
    display: inline-block;
    /* background: rgb(60, 60, 226); */
    width: 50px;
    min-height: 50px;
    margin:5px;
    line-height: 50px;
    transition: 0.7s;
    border-radius: 0 10px 0 10px;
    box-shadow: rgba(143, 143, 142, 0.3) 10px 10px 20px 4px;

}


.social-icon ul li:hover{
     border-radius: 10px 0 10px 0;
    transition: 0.7s;
}
.social-icon ul li:hover{
    background: rgb(209, 12, 22);
     transition: 0.7s;
}

.social-icon ul li .fa{
    color:rgb(31, 143, 40);
    font-size: 20px;
     transition: 0.7s;
}

.social-icon ul li:hover .fa{
    transform: rotate(360deg);
    /* transform: scale(1.4); */
    /* color: yellowgreen; */
     transition: 0.7s;
}